#DEPOIS VERIFICAR O QUE NECESSITA



#pastas
.vscode/

# Compilação
*.o
*.out
*.a

# Binários
minishell

# Arquivos temporários
*~
*.swp
*.tmp
*.log

# Histórico do Valgrind
vgcore.*

# Arquivos de sistema
.DS_Store

# Outros
.env
